html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
    flex: 1;
    padding: 30px;
}
header, footer {
    padding: 5px 30px;
    flex: 0 0 auto;
    background-color:rgb(123, 123, 163);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0;
    display: flex;
    
}
a {
    color: rgb(0,0,238);
}
nav a {
    font-weight: 700;
    flex-direction: row;
    text-decoration: none;
    color: black;
}
nav li {
    margin: 10px;
}
.form_wrapper {
    margin: 0 auto;
    width: min-content;
}
.form_wrapper input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.btn{
    margin:10px 0;
}
.error {
    color: red;
    background-color: darkkhaki;
    text-align: center;
}
.reg_error {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.instruction{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.block_todo,
.block_welcome *,
.add_todo {
    width:80%;
    margin:0 auto;
    text-align: center;
}
.block_todo {
    float: right;
}
.block_main  {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    max-width: 900px;
    height: 100%;
}
table {
    margin: 0 auto;
}
td {
    padding: 5px;
}
.task {
    text-align: start;
}
.main_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.block_input {
    min-width: 300px;
    border-radius: 5%;
    border: 3px solid #000;
    min-height: 30px;
    margin-bottom: 30px;
}
.block_input > input[type="text"] {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 85%;
    vertical-align: middle;
    padding: 5px;
}
.action_btn{
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    float: right;
    background: url("icons/203791307.png") no-repeat 50% 50%;
}
.actions > a{
    text-align: center;
    display: block;
}
.delete{
    color:red;
}
.edit{
    color:green;
}