body,html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    flex: 1;
    padding: 30px;
}

header, footer {
    padding: 5px 30px;
    flex: 0 0 auto;
    background-color:rgb(123, 123, 163);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0;
    display: flex;
    
}

a {
    text-decoration: none;
    color: black;
}
nav a {
    font-weight: 700;
    flex-direction: row;
}
li {
    margin: 10px;
}
.form_wrapper {
    margin: 0 auto;
    width: min-content;
}
.error {
    color: red;
    background-color: darkkhaki;
}
.reg_error {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.block_todo, .block_welcome *{
    width: fit-content;
    margin:0 auto;
}
.block_todo {
    float: right;
}

.block_main  {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
.main_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon-add::before {
    content: 'icons\Tilda_Icons_27bu_6.svg';
}
.add {
    width: 400px; /* Ширина поля с кнопкой */
    border-radius: 5%;
    border: 2px solid #000; /* Параметры рамки */
    min-height: 30px; /* Минимальная высота */
}
.add > input[type="text"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 364px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
}
input[type="submit"] {
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    float: right;
    background: url("icons/203791307.png") no-repeat 50% 50%; /* Параметры фона */
}